[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/mujoco"]
	path = external/mujoco
	url = https://github.com/google-deepmind/mujoco.git
